.login-dialogue {
    align-items: center;
    border-radius: var(--size-08);
    box-shadow: 0 0 8px var(--primary-400);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10rem auto;
    padding: 10px;
    width: 20rem;
}

.login-dialogue .secondary-link {
    padding: 0;
}

.login-page .nav-section-right {
    width: 10rem;
}

.login-page .nav-bar .tertiary {
    transform: translateX(-15%);
}

.pass-reset {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 50vh;
}

.pass-reset button {
    padding: 0 var(--size-08);
}

.forgot-pass h1 {
    margin-top: var(--size-08);
}